<div class="container">
  <div class="header flex justify-around items-center">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "bg-blue-400 hover:bg-blue-300 m-4 p-2 rounded",
                data: { turbo_frame: dom_id(Quote.new) } %>
  </div>

  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
</div>